.classpath
.project
.settings/
target/
logs/
out/
*.log
*.iml
*.ipr
*.iws
.idea/
target/work/
target/classes/
target/miui-sys-open/
target/test-classes/
target/maven-status/
target/*.timestamp
target/*.jar
target/*.war
lib/*.jar
